body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90%;
}

html {
    height: 100%;
}

a, a:hover, a:visited {
    color: black;
}

h1 {
    font-size: 4em;
}

/* img {
    width: 300px;
    height: auto;
} */

#viewfinder {
    width: 800px;
}

figure {
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    align-self: center;
    padding: 5px;
    max-width: 800px;
    margin: auto;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}